[submodule "src/lib/clean-lsp"]
	path = src/lib/clean-lsp
	url = https://gitlab.com/top-software/clean-lsp.git
	branch = main
[submodule "src/lib/yaml"]
	path = src/lib/yaml
	url = https://gitlab.com/top-software/yaml.git
	branch = main
