[submodule "src/lib/compiler"]
	path = src/lib/compiler
	url = https://gitlab.science.ru.nl/clean-compiler-and-rts/compiler.git
	ignore = untracked
[submodule "src/lib/clean-platform"]
	path = src/lib/clean-platform
	url = https://gitlab.science.ru.nl/clean-and-itasks/clean-platform.git
	ignore = untracked
